<p id="notice"><%= notice %></p>

<table class="table table-hover">
  <thead>
    <tr>
      <th>欲しいもの</th>
      <th>依頼人</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @pashiris.each do |pashiri| %>
      <tr>
        <td><%= link_to pashiri.name , pashiri %></td>
        <td><%= pashiri.iraisha %></td>
        <td><%= link_to 'へんしゅう', edit_pashiri_path(pashiri), class: 'btn btn-primary' %>
        <%= link_to 'さくじょ', pashiri, method: :delete, data: { confirm: 'Are you sure?' } , class: 'btn btn-danger'%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br><br>

<%= link_to '新しいパシリを頼む', new_pashiri_path, class: 'btn btn-primary' %>
